<div class="continer">
        <nav class="menu-bar">
        <ul class="left-menu">
            <li><a href="#">Left Item 1</a></li>
            <li><a href="#">Left Item 2</a></li>
            <li><a href="#">Left Item 3</a></li>
        </ul>
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        <ul class="right-menu">
            <li><a href="#">Right Item 1</a></li>
            <li><a href="#">Right Item 2</a></li>
            <li><a href="#">Right Item 3</a></li>
        </ul>
    </nav>
    </div>
